body {
/*    font-family: Helvetica;*/
/*    background-color: azure;*/
/*    background-image: linear-gradient(azure, white);*/
}

h1 {
    font-family: Orbitron;
    font-size: 3vw;
    text-align: center;
    margin-top: 2vw; 
    margin-bottom: 0.7vw;
}

h2 {
    font-family: Orbitron;
    font-size: 2.2vw;
    text-align: center;
    margin: 0.7vw; 
/*    margin-top: 20px;*/
}

h3 {
    font-family: Orbitron;
    font-size: 1.4vw;
    margin: 0.7vw; 
}

p {
/*
    font-size: calc(9px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
*/
    
    
    font-family: monospace;
    font-size: 1.1vw;
    display: inline-block;
    position: relative;
    height: auto;
    padding: 0.7vw;
    border: 0.05vw solid black;
    background-color: white; 
    margin: 1.4vw;
    vertical-align: text-bottom;
}

p0 {
    font-family: monospace;
    font-size: 0.8vw;
    display: inline-block;
    position: relative;
    width: 40%;
    height: auto;
/*    padding: 10px;*/
    margin: 0.7vw;
/*    vertical-align: text-bottom;*/
}

a {
    font-family: Orbitron;
    font-size: 30px;
/*    display: block;*/
    text-align: center;
    margin: auto; 
}

cptn {
    font-family: helvetica;
    font-size: 0.8vw;
    font-style: italic;
    text-align: center;
    margin: 1.4vw;
    margin-top: 0.4vw;
    display: inline-block;
    position: relative;
}

.center {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-right: 0.05vw dashed black;
    border-left: 0.05vw dashed black;
    width: 70%;
    padding: 0.4vw;
}

/*
p.center {
    border: 1px solid black;
}
*/

p0.center, a.center {
    text-align: center;
    border: 0vw;
}

.media {
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    border: 2px solid pink;*/
}

.inline-image {
    display: inline-block;
    position: relative;
    border: 0.05vw solid black;
    margin: 1.4vw;
/*    margin-top: 0px;*/
/*    margin-bottom: 0px;*/
}

.transparent {
    border: 0vw;
}

.section-0 {
    background-image: linear-gradient(white, aquamarine);
}

.section-1 {
    background-image: linear-gradient(aquamarine, white);   
}

/*
#paper-title {
    font-size: 20px;
}
*/

#enter-div {
    background-image: linear-gradient(white, aquamarine, white, aquamarine, white, aquamarine);
/*    border-top: 1px dashed black;*/
/*    border-bottom: 1px dashed black;*/
    margin: auto; 
    width: 90%;
/*    transform-origin: center;*/
}

#enter-vid {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
/*    margin-bottom: 40px;*/
}

@-ms-viewport{
  width: device-width;
}
